{% extends 'base.html' %}

{% block title %}
View Goals
{% endblock %}

{% block content %}

<style>

    .page-header{

        display:flex;

        justify-content:space-between;

        align-items:center;

        margin-bottom:30px;
    }

    .page-header h1{

        font-size:36px;

        color:#0f172a;
    }

    .add-btn{

        background:#2563eb;

        color:white;

        padding:14px 22px;

        border-radius:10px;

        text-decoration:none;

        font-weight:bold;

        transition:0.3s;
    }

    .add-btn:hover{

        background:#1d4ed8;
    }

    /* ---------- GOAL GRID ---------- */

    .goal-grid{

        display:grid;

        grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

        gap:25px;
    }

    /* ---------- GOAL CARD ---------- */

    .goal-card{

        background:white;

        padding:25px;

        border-radius:18px;

        box-shadow:0 5px 15px rgba(0,0,0,0.1);

        transition:0.3s;
    }

    .goal-card:hover{

        transform:translateY(-5px);
    }

    .goal-title{

        font-size:24px;

        color:#0f172a;

        margin-bottom:20px;
    }

    .goal-info{

        margin-bottom:12px;

        color:#475569;

        font-size:17px;
    }

    .goal-info span{

        font-weight:bold;

        color:#0f172a;
    }

    /* ---------- PROGRESS BAR ---------- */

    .progress-container{

        width:100%;

        height:20px;

        background:#e2e8f0;

        border-radius:20px;

        overflow:hidden;

        margin-top:20px;
    }

    .progress-bar{

        height:100%;

        background:linear-gradient(
            to right,
            #2563eb,
            #1d4ed8
        );

        border-radius:20px;
    }

    .progress-text{

        margin-top:10px;

        text-align:right;

        font-weight:bold;

        color:#2563eb;
    }

</style>


<!-- PAGE HEADER -->

<div class="page-header">
    <h1>
        Financial Goals
    </h1>

    <a href="/set-goal/"class="add-btn">
        + Add Goal
    </a>
</div>

<!-- GOAL CARDS -->
<div class="goal-grid">
    {% for goal in goals %}
    <div class="goal-card">
        <h2 class="goal-title">
            {{ goal.name }}
        </h2>

        <p class="goal-info">
            Target Amount:
            <span>
                ₹ {{ goal.target_amount }}
            </span>
        </p>

        <p class="goal-info">
            Monthly Saving Required:
            <span>
                ₹ {{ goal.monthly_required }}
            </span>
        </p>
        
        <p class="goal-info">
            Current Savings:        
            <span>        
                ₹ {{ goal.total_savings }}        
            </span>        
        </p>
                
        <p class="goal-info">        
            Goal Duration:        
            <span>        
                {{ goal.target_months }} Months        
            </span>        
        </p>        
        
        <p class="goal-info">        
            Status:        
            <span>        
                {{ goal.status }}        
            </span>        
        </p>

        <p class="goal-info">
            Remaining:
            <span>
                ₹ {{ goal.remaining }}
            </span>
        </p>

        <div class="progress-container">
            <div class="progress-bar" style=" width: {{ goal.progress }} %; ">
            </div>
        </div>

        <div class="progress-text">
            {{ goal.progress }}%
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}